* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  padding: 2rem;
}

.container {
  height: 60vh;
  width: 70vh;
}

.game {
  margin-top: 3rem;
  height: 60vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background-color: #adcde2;
  cursor: pointer;
  font-size: 50px;
  color: #ff0800;
}

.box:hover {
  background-color: bisque;
}

#reset-btn {
  margin-top: 1rem;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.25rem;
}

button:hover {
  background-color: #adcde2;
  border: 2px solid red;
  cursor: pointer;
}
